VITE_PORT=5005
MONGODB_URI="mongodb://127.0.0.1:27017/onootboutique"
JWT_SECRET="votre_secret_jwt"
ADMIN_EMAIL=adminboutique@onoot.com
ADMIN_PASSWORD=admin1234
VITE_ADMIN_EMAIL=adminboutique@onoot.com
VITE_ADMIN_PASSWORD=admin1234
PORT=5005

# Google OAuth2
GOOGLE_CLIENT_ID=votre_google_client_id
GOOGLE_CLIENT_SECRET=votre_google_client_secret
BOUTIQUE_URL=http://localhost:5182
API_BASE_URL=http://localhost:5005

# Configuration Emails SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=votre_user_smtp
SMTP_PASS=votre_password_smtp
SMTP_FROM=onootboutique@gmail.com
SHOP_EMAIL=onootboutique@gmail.com
